body{
    padding: 0;
    margin: 0;    
    background-color: black;
}
.cont{
    
    margin: auto;
    width: 92vw;
    
    background-color: white;
}
.header{
    width: 100%;
    height: 26vh;
    
}
.search{
    width: 100%;
    height: 11vh;
    background-color: cadetblue;
}
.banner{
    width: 100%;
    height: 50vh;
    background-color: blue;
}
.categorias_fotos{
   
    
    width: 90%;
    justify-content:center;
    
    margin: auto;
    height: 60vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 30%;
    grid-template-rows: repeat(2, 50%);
    grid-gap: 20px;

}
.r12{
    grid-row: span 2;
    
    
}

.r1{
    grid-column:1; 
    grid-row: span 2;
}
.r2{
    grid-column:span 2 ;
}

.r5{
    grid-column:span 2;
    
}
.catpa{
    box-shadow: 1px 1px 5px black;
    border-radius: 7px;
}
.textoa1{
   margin: auto;
}
.subca{
    justify-self: center;
    width: 100%;
    height:20vh;
   
    text-align: center;
    margin-top: 20vh;
}

.subca p{
   color: rgba(48, 48, 48, 0.584);
}
.categorias_texto
{
    width: 100%;
    
    height:10vh;
    text-align: center;
}

.categorias_texto ul li{
    display:inline;
    margin: 10px;
   
}
.categorias_texto ul li{
    display:inline;
    margin: 10px;
   
}

.ventalibros{
    justify-content:center;
    width: 100%;
    height: 90vh;
    grid-template-columns: repeat(4,20%);
    grid-template-rows: repeat(2,45%);
    display: grid;
    grid-gap: 5%;
    
}
.libro{

    box-shadow: 1px 1px 5px black;
    height:100%;
    width: 100%;
    
    
}
.ad{
    margin: auto;
    width:70%;
    height:15vh;
    box-shadow: 1px 1px 10px black;
    margin-top: 20vh;
}
.reco{
    text-align: center;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 10% 30% 30% 30%;
    display:grid;
    margin: auto;
   justify-content: center;
    margin-top: 20vh;
    width:90%;
    grid-gap: 10px;
    height: 80vh;
    
}
.textoreco{
    grid-row: 1;
}
.cartelito{
    background-color: black;
    grid-row: span 4;
}
.libroreco{
    
}
.ab{
    border-bottom: 2px solid black;
}